{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upwork Test Code</title>

    <link rel="stylesheet" href="{% static 'css/project.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
  {% if file_id %}
  <!--Handle the Case when the url include file_id-->
    <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
    <div id="container"></div>
    <script>
        $.ajax({
          type: "GET",
          timeout: 50000,
          url: "{% url 'get_encoded_file' %}?file_id={{file_id}}",
          success: function (data) {
            var pdfData = atob(data);

            // Loaded via <script> tag, create shortcut to access PDF.js exports.
            var pdfjsLib = window['pdfjs-dist/build/pdf'];

            // The workerSrc property shall be specified.
            pdfjsLib.GlobalWorkerOptions.workerSrc = '//mozilla.github.io/pdf.js/build/pdf.worker.js';

            // Using DocumentInitParameters object to load binary data.
            var loadingTask = pdfjsLib.getDocument({data: pdfData});
            loadingTask.promise.then(function(pdf) {
              console.log('PDF loaded');

              for (var i = 1; i <= pdf.numPages; i++) {
                // Fetch the first page
                  var pageNumber = i;
                  pdf.getPage(pageNumber).then(function(page) {
                    console.log('Page loaded');

                    var scale = 1.5;
                    var viewport = page.getViewport(scale);

                    var div = document.createElement("div");

                      // Set id attribute with page-#{pdf_page_number} format
                      div.setAttribute("id", "page-" + (page.pageIndex + 1));

                      // This will keep positions of child elements as per our needs
                      div.setAttribute("style", "position: relative");

                      // Append div within div#container
                      container.appendChild(div);

                      // Create a new Canvas element
                      var canvas = document.createElement("canvas");

                      // Append Canvas within div#page-#{pdf_page_number}
                      div.appendChild(canvas);

                      var context = canvas.getContext('2d');
                      canvas.height = viewport.height;
                      canvas.width = viewport.width;

                    // Render PDF page into canvas context
                    var renderContext = {
                      canvasContext: context,
                      viewport: viewport
                    };
                    var renderTask = page.render(renderContext);
                    renderTask.then(function () {
                      console.log('Page rendered');
                    });
                  });
              }

            }, function (reason) {
              // PDF loading error
              console.error(reason);
            });
          },
          fail: function (data) {
            document.getElementById("upload_result").innerHTML = "Got Error!!!";
            return false;
          },
        });

    </script>
    {% else %}
  <!--Handle the Case when the url doesn't have a valid file_id-->
    <h1>File Upload</h1>
    <input type="file" id="fileToUpload" onchange="chooseFileFun(this);" accept="application/pdf" />
    <p id="feedback" style="color: red">Please Choose a file for upload, Maximum size is 5 MB as per setting.DATA_UPLOAD_MAX_MEMORY_SIZE</p>
    <p style="color: green">Upload button is disabled untill choose a file and the file is successfully encoded to Base64</p>
    <textarea id="base64File" hidden></textarea>
    <button id="uploadButton" onclick="uploadFile()" disabled>Upload</button>
    <h3 id="upload_result" hidden></h3>

    <h1 style="margin-top: 50px;">File List</h1>
    <ul>
        {% if all_files|length > 0 %}
        {% for a_file in all_files %}
            <li style="margin-bottom: 20px;"><a href="?file_id={{a_file.id}}"  target='_blank'>{{ a_file.filename }}</a>
                <button style="margin-left: 20px; background-color: red; color: white" onclick="deletFile(fileId={{ a_file.id }})">Delete</button>
        {% endfor %}
        {% else %}
                <p> File list is empty </p>
        {% endif %}
    </ul>
    <script>
    const readUploadedFileAsBase64 = (inputFile) => {  // Promise Based function to guaranty large file convert
      const temporaryFileReader = new FileReader();
      temporaryFileReader.readAsDataURL(inputFile);
      return new Promise((resolve, reject) => {
        temporaryFileReader.onerror = () => {
          temporaryFileReader.abort();
          reject(new DOMException("Problem parsing input file."));
        };
        temporaryFileReader.onload = () => {
          // Remove the prefix of Base64 at Client side to make the coding hidden on wire transfer
          const index = temporaryFileReader.result.indexOf('base64');
          const fileContentValue = temporaryFileReader.result.slice(index + 7); // 7 is the length of 'base64' itself
          $('#base64File').val(fileContentValue);
          resolve(temporaryFileReader.result);
        };
      });
    };

    const chooseFileFun = async(input) => {
      if (input.files && input.files[0]) {
        document.getElementById('uploadButton').disabled = true;
        document.getElementById("feedback").innerHTML = "Encoding the file to Base64";
          try {
            const fileContents = await readUploadedFileAsBase64(input.files[0])
            // console.log(fileContents);
            document.getElementById("feedback").innerHTML = "File is encoded and ready for upload";
            document.getElementById('uploadButton').disabled = false;
          } catch (e) {
            console.warn(e.message)
          }
       }
    }

    function uploadFile(){
      const current_path = window.location.href; // URL to where the POST request will be sent
      // Find the file name to be included in the POST request
      var fullPath = document.getElementById('fileToUpload').value;
      if (fullPath) {
        var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
        var filename = fullPath.substring(startIndex);
        if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
          filename = filename.substring(1);
        }
        // Data Object that will be sent by POST
        send_obj = {file_content: JSON.stringify($('#base64File').val()),
                      filename: filename,
                      action: "upload_file",
                    }
        $.ajax({
          type: "POST",
          timeout: 50000,
          url: current_path,
          data: send_obj,
          success: function (data) {
            document.getElementById("upload_result").innerHTML = "Uploaded";
            location.reload();
          },
          fail: function (data) {
            document.getElementById("upload_result").innerHTML = "Got Error!!!";
            return false;
          },
        });
      }
    }

    function deletFile(fileId){
    const current_path = window.location.href; // URL to where the POST request will be sent;
    const send_obj = {action: "delete_file", file_id: fileId};
        $.ajax({
          type: "POST",
          timeout: 50000,
          url: current_path,
          data: send_obj,
          success: function (data) {
            location.reload();
          },
          fail: function (data) {
            document.getElementById("upload_result").innerHTML = "Got Error!!!";
            return false;
          },
        });
    }

    </script>

  {% endif %}
</body>
</html>